<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IActaService" />
                <binding name="BasicHttpBinding_IMesaService" />
                <binding name="BasicHttpBinding_IMilitanteService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56837/Service/ActaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActaService"
                contract="ActaWs.IActaService" name="BasicHttpBinding_IActaService" />
            <endpoint address="http://localhost:56837/Service/MesaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesaService"
                contract="MesaWs.IMesaService" name="BasicHttpBinding_IMesaService" />
            <endpoint address="http://localhost:56837/Service/MilitanteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMilitanteService"
                contract="MilitanteWs.IMilitanteService" name="BasicHttpBinding_IMilitanteService" />
        </client>
    </system.serviceModel>
</configuration>