<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMilitanteService" />
                <binding name="BasicHttpBinding_IActaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56837/MilitanteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMilitanteService"
                contract="Elecciones.IMilitanteService" name="BasicHttpBinding_IMilitanteService" />
            <endpoint address="http://localhost:56837/ActaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IActaService" contract="Elecciones2.IActaService"
                name="BasicHttpBinding_IActaService" />
        </client>
    </system.serviceModel>
</configuration>